<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiweiqing.base.mapper.UserMapper">
    <select id="getInfo" parameterType="string" resultType="cn.jiweiqing.base.bean.UserBean">
        SELECT * FROM user WHERE username = #{username} AND password = #{password}
    </select>

    <select id="getInfoByUserName" parameterType="string" resultType="cn.jiweiqing.base.bean.UserBean">
        SELECT * FROM user WHERE username = #{username}
    </select>

</mapper>